.feature {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.feature-content {
    width: 1220px;
    min-height: 300px;
    /* border: 2px solid black; */

    margin-bottom: 120px;
    margin-top: 120px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feature-text,
.feature-img {
    /* border: 2px solid black; */
    min-height: 300px;
}

.feature-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}


.feature-text p {
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: rgb(204, 189, 189);

}

.feature-text h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 96px;
    text-align: left;

}

.feature-text a {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: rgba(255, 114, 53, 1);

}


.cloar {
    background: rgba(255, 250, 248, 1);
}